*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(trainBG.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* nav{
    position: fixed;
    top : 0px ;
    width : 100vw ;
} */
nav ul{
    display: flex;
    flex-flow: row nowrap;
    background-color:maroon;
    font-size: 1.5em;
    color:white;
}
nav ul li{
    padding:9px;
    list-style-type: none;
}
#_admin{
    color:tomato;
    margin-left: auto;
    font-size:0.8em;
    border: 2px solid green;
    padding-right: 5px;
    /* background-color: rgb(146, 151, 100); */
}
a{
    text-decoration: none;
    color:black;
}
.options{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%,-70%);
    display: flex;
    list-style-type: none;
    flex-flow: column nowrap;
    flex-grow: 1;
    font-size: 30px;
    height: 55vh;
    text-align:center;
    aspect-ratio: 13/16;
    background-color: rgba(199, 77, 77, 0.658);
    width:min-content;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px black;
    margin:119px 120px;
    justify-content: space-between;
    list-style-position: inside;
    padding:50px 0;
}
.options li{
    color: orange;
    /* background-image: linear-gradient(to right, red, maroon); */
    margin: 0;
    padding: 0;
    /* flex-basis: 5px; */
    /* flex-grow: 1; */
}
.options li a:hover{
    text-decoration: 4px underline maroon;
    cursor: pointer;
    transition: text-decoration 1s;
    color: orange;
}

.container {
    width : 60%;
    /* text-align: center; */
    /* justify-content: center; */
    border: 2px solid white;
    margin: 50px 80px;
    padding: 40px;
    padding-top : 60px ;
    padding-bottom : 60px ;
    /* width: 60%; */
    border-radius: 28px;
}

.container h1{
    /* width : 50%; */
    /* margin-le */
    /* margin-left : 200px; */
    text-align: center;
    color : maroon ;
    font-weight: bolder;
    margin-bottom : 30px;
    text-decoration:underline;
}

.form-group{
    display : block;
    width : 100%;
    font-size: 2em;
    font-weight: bold;
    margin-left : 210px ;
    /* margin-top : 10px ;
    margin-bottom :  10px ; */
}

.form-group a{
    font-size: 1em;
    transition : font-size 0.5s ;
}

.form-group:hover a{
    color : maroon;
    font-size: 0.7em;
    
}
